<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <title>Book Library | Manage Authors - Admin</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="../apple-touch-icon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/icomoon.css">
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/transitions.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/color.css">
	<link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="tg-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-userlogin">
                            <div>
                                <li style="list-style:none;" class="menu-item-has-children"
                                    sec:authorize="isAuthenticated()">
                                    <a href="">
                                        <i id="user_icon" class="fa fa-user"></i> Welcome
                                        <span th:if="${currentUserName != null}" th:text="${currentUserName}"></span>
                                        <span class="sr-only"></span>
                                    </a>
                                    <div class="mega-menu user">
                                        <ul class="tg-themetabnav" role="tablist">
                                            <li><a th:href="@{/profile}">Profile<span
                                                    class="sr-only">(current)</span></a></li>
                                            <li sec:authorize="hasRole('USER')">
                                                <a th:href="@{/orders}">Orders<span class="sr-only">(current)</span></a>
                                            </li>
                                            <li><a class="tg-userlogout" th:href="@{/logout}">Logout<span
                                                    class="sr-only">(current)</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <br>
                                <a class="nav-link text" th:href="@{/signup}" style="margin-right: 30px"
                                   sec:authorize="!isAuthenticated()">Sign up<span class="sr-only">(current)</span></a>
                                <a class="nav-link text" th:href="@{/login}"
                                   sec:authorize="!isAuthenticated()">Login<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tg-middlecontainer" style="padding: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <strong class="tg-logo"><a href="/"><img src="/images/logoSWP.png"
                                                                            alt="company name here"></a></strong>
                        <div class="tg-wishlistandcart">
                            <div sec:authorize="hasRole('USER')" class="dropdown tg-themedropdown tg-minicartdropdown">
                                <a id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="tg-themebadge"
                                          th:text="${cartTotalBooks != null ? cartTotalBooks : 0}"></span>
                                    <a th:href="@{view-cart}"><i class="icon-cart"></i>
                                        <span style="margin-left: 10px;">Cart</span></a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tg-navigationarea">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <nav id="tg-nav" class="tg-nav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#tg-navigation" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>

                                    <!-- ========== USER ========== -->
                                    <li>
                                        <a th:href="@{/products}"
                                           sec:authorize="!hasRole('ADMIN') and !hasRole('STAFF')">Books</a>
                                    </li>

                                    <li class="menu-item-has-children menu-item-has-mega-menu"
                                        sec:authorize="hasRole('USER')">
                                        <a href="javascript:void(0);">All Categories</a>
                                        <div class="mega-menu tg-category-mega-menu">
                                            <ul class="tg-themetabnav" role="tablist">
                                                <li th:each="entry, iterStat : ${categoryHierarchy}"
                                                    th:class="${iterStat.index == 0 ? 'active' : ''}"
                                                    role="presentation">
                                                    <a th:href="'#cat' + ${entry.key.id}"
                                                       role="tab" data-toggle="tab"
                                                       th:text="${entry.key.name}">Root Category</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content tg-themetabcontent">
                                                <div th:each="entry, iterStat : ${categoryHierarchy}"
                                                     th:id="|cat${entry.key.id}|"
                                                     role="tabpanel"
                                                     th:class="${iterStat.index == 0 ? 'tab-pane active' : 'tab-pane'}">
                                                    <ul class="tg-level1-container">
                                                        <li th:each="level1 : ${entry.value}">
                                                            <div class="tg-linkstitle">
                                                                <h2 th:text="${level1.name}">Level 1</h2>
                                                            </div>
                                                            <ul th:if="${level1.children != null}">
                                                                <li th:each="level2 : ${level1.children}">
                                                                    <a th:href="@{/products(categoryId=${level2.id})}"
                                                                       th:text="${level2.name}">Level 2</a>
                                                                    <ul th:if="${level2.children != null}">
                                                                        <li th:each="level3 : ${level2.children}">
                                                                            <a th:href="@{/products(categoryId=${level3.id})}"
                                                                               th:text="${level3.name}">Level 3</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <a class="tg-btnviewall"
                                                               th:href="@{/products(categoryId=${level1.id})}">View
                                                                All</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- ========== ADMIN ========== -->
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/manage-product}">Books</a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/manage-category}">Categories</a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')"><a
                                            th:href="@{/admin/manage-author}">Authors</a></li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/manage-user}">Users</a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/manage-order}">Orders</a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/manage-promotion}">Promotions</a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/statistic}">Statistics</a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/manage-staff}">Staff</a>
                                    </li>
                                    <li class="menu-item-has-children" sec:authorize="hasRole('ADMIN')">
                                        <a href="javascript:void(0);"><i class="fa fa-bars"></i></a>
                                        <div class="mega-menu">
                                            <ul>
                                                <li><a th:href="@{/admin/manage-series}"><i class="fa fa-book"></i>
                                                    Series</a></li>
                                                <li><a th:href="@{/admin/manage-language}"><i class="fa fa-flag"></i>
                                                    Language</a></li>
                                                <li><a th:href="@{/admin/manage-publisher}"><i
                                                        class="fa fa-briefcase"></i> Publisher</a></li>
                                                <li><a th:href="@{/admin/manage-translator}"><i class="fa fa-users"></i>
                                                    Translator</a></li>
                                                <li><a th:href="@{/admin/manage-comment}"><i class="fa fa-comments"></i>
                                                    Reviews</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <!-- ========== STAFF ========== -->
                                    <li sec:authorize="hasRole('STAFF')"><a th:href="@{/staff/books}">Books</a></li>
                                    <li sec:authorize="hasRole('STAFF')"><a th:href="@{/staff/orders}">My Orders</a>
                                    </li>
                                    <li sec:authorize="hasRole('STAFF')"><a
                                            th:href="@{/staff/categories}">Categories</a></li>
                                    <li sec:authorize="hasRole('STAFF')"><a th:href="@{/staff/authors}">Authors</a></li>
                                    <li sec:authorize="hasRole('STAFF')"><a
                                            th:href="@{/staff/promotions}">Promotions</a></li>
                                    <li class="menu-item-has-children" sec:authorize="hasRole('STAFF')">
                                        <a href="javascript:void(0);"><i class="fa fa-bars"></i></a>
                                        <div class="mega-menu">
                                            <ul>
                                                <li><a th:href="@{/staff/series}"><i class="fa fa-book"></i> Series</a>
                                                </li>
                                                <li><a th:href="@{/staff/languages}"><i class="fa fa-flag"></i> Language</a>
                                                </li>
                                                <li><a th:href="@{/staff/publishers}"><i class="fa fa-briefcase"></i>
                                                    Publisher</a></li>
                                                <li><a th:href="@{/staff/translators}"><i class="fa fa-users"></i>
                                                    Translator</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../images/parallax/bgparallax-07.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="tg-innerbannercontent">
						<h1 style="margin-bottom: 20px;">Manage Authors</h1>
						<ol class="tg-breadcrumb">
							<li><a href="javascript:void(0);">Home</a></li>
							<li class="tg-active">Authors</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="tg-sectionspace tg-haslayout" style="padding-top: 50px;">
            <div class="container">
                <div class="row">
                    <div>
                        <div>
                            <!-- <h2>Customer information</h2> -->
                            <div id="tg-content" class="tg-content">
                                <div class="tg-products">
                                    <div class="tg-productgrid">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-bottom: 5px;"
                                                th:data-target="${'#myModal_add'}">Add new author
                                        </button>
                                        <div class="row">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Author name</th>
                                                    <th>Bio</th>
                                                    <th>Number of books</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <th:block th:each="author: ${authorList}">
                                                    <tr class="active-row">

                                                        <td th:text="${authorList.indexOf(author)+1}"></td>
                                                        <td th:text="${author.name}"></td>
                                                        <td th:text="${author.description}" style="max-width: 160px;"></td>
                                                        <td th:text="${author.bookList.size()}"></td>
                                                        <td>
                                                            <button type="button" class="btn btn-warning" data-toggle="modal" th:data-target="${'#myModal_edit'+author.id}">Edit</button>
															<button type="button"
																	class="btn btn-danger"
																	data-toggle="modal"
																	th:data-target="${'#myModal_delete'+author.id}"
																	th:disabled="${author.bookList.size() > 0}"
																	th:title="${author.bookList.size() > 0 ? 'Cannot delete - Author has books' : ''}">
																Delete
															</button>
														</td>

                                                    </tr>
                                                    <!-- Modal Edit: dynamic ID for h4 and aria-labelledby -->
                                                    <div class="modal fade" th:id="${'myModal_edit'+author.id}" tabindex="-1" role="dialog"
                                                         th:attr="aria-labelledby=${'myModalEditLabel'+author.id}">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <h4 class="modal-title" th:id="${'myModalEditLabel'+author.id}"
                                                                        style="text-transform: none;">Edit author</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:action="@{/admin/edit-author}" method="post">
                                                                        <input type="hidden" name="id" th:value="${author.id}">
                                                                        <input type="hidden" name="page" th:value="${page}">
                                                                        <div class="form-group"
                                                                             th:classappend="${showEditModal != null and showEditModal and editAuthorId != null and editAuthorId == author.id.toString() and editNameError != null} ? 'has-error'">
                                                                            <label><span style="color: red;">*</span>Author name</label>
                                                                            <input type="text" class="form-control" name="name"
                                                                                   th:value="${showEditModal != null and showEditModal and editAuthorId != null and editAuthorId == author.id.toString()} ? ${formName} : ${author.name}"
                                                                                   required>
                                                                            <span th:if="${showEditModal != null and showEditModal and editAuthorId != null and editAuthorId == author.id.toString() and editNameError != null}"
                                                                                  class="help-block text-danger"
                                                                                  th:text="${editNameError}"></span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Bio</label>
                                                                            <textarea class="form-control" style="height: 100px;" name="description" required
                                                                                      th:text="${showEditModal != null and showEditModal and editAuthorId != null and editAuthorId == author.id.toString()} ? ${formDescription} : ${author.description}"></textarea>
                                                                        </div>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal Delete: dynamic ID for h4 and aria-labelledby -->
                                                    <div class="modal fade" th:id="${'myModal_delete'+author.id}" tabindex="-1" role="dialog"
                                                         th:attr="aria-labelledby=${'myModalDeleteLabel'+author.id}">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div th:if="${author.bookList.size()==0}" class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                            aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" th:id="${'myModalDeleteLabel'+author.id}" style="text-transform: none;">Are you sure you want to delete this author?</h4>
                                                                </div>
                                                                <div th:if="${author.bookList.size()!=0}" class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                            aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" th:id="${'myModalDeleteLabel'+author.id}" style="text-transform: none;">Cannot delete author with existing books</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form>
                                                                        <button th:if="${author.bookList.size()==0}" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                        <button th:if="${author.bookList.size()!=0}" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                                                        <a th:if="${author.bookList.size()==0}" th:href="@{|/admin/delete-author?id=${author.id}|}">
                                                                            <button type="button" class="btn btn-primary">Save</button></a>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th:block>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation" style="text-align: center;">
            <ul class="pagination">

                <!-- Previous -->
                <li th:classappend="${page == 1} ? 'disabled'">
                    <a th:if="${page > 1}"
                       th:href="@{/admin/manage-author(page=${page - 1})}">
                        &laquo;
                    </a>
                    <span th:if="${page == 1}">&laquo;</span>
                </li>

                <!-- Page number -->
                <li th:each="i : ${#numbers.sequence(1, totalPage)}"
                    th:classappend="${i == page} ? 'active'">
                    <a th:href="@{/admin/manage-author(page=${i})}"
                       th:text="${i}"></a>
                </li>

                <!-- Next -->
                <li th:classappend="${page == totalPage} ? 'disabled'">
                    <a th:if="${page < totalPage}"
                       th:href="@{/admin/manage-author(page=${page + 1})}">
                        &raquo;
                    </a>
                    <span th:if="${page == totalPage}">&raquo;</span>
                </li>
            </ul>
        </nav>
        </div>
    </main>

    <!-- Modal Add -->
    <div class="modal fade" id="myModal_add" tabindex="-1" role="dialog" aria-labelledby="myModalAddLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalAddLabel" style="text-transform: none;">Add new author</h4>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/create-author}" method="post">
                        <input type="hidden" name="page" th:value="${page}">
                        <div class="form-group" th:classappend="${addNameError != null} ? 'has-error'">
                            <label for="authorname">
                                <span style="color: red;">*</span>Author name
                            </label>
                            <input name="name" type="text" class="form-control" id="authorname"
                                   th:value="${formName}" required>
                            <span th:if="${addNameError != null}" class="help-block text-danger"
                                  th:text="${addNameError}"></span>
                        </div>
                        <div class="form-group">
                            <label for="description">
                                <span style="color: red;">*</span>Bio
                            </label>
                            <textarea name="description" class="form-control" id="description"
                                      style="height: 100px;" required
                                      th:text="${formDescription}"></textarea>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<footer id="tg-footer" class="tg-footer tg-haslayout">
	<div class="tg-footerarea">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<ul class="tg-clientservices">
						<li class="tg-devlivery">
							<span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Delivery</h3>
								<p>Fast nationwide delivery</p>
							</div>
						</li>
						<li class="tg-discount">
							<span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Pricing</h3>
								<p>Attractive and reasonable</p>
							</div>
						</li>
						<li class="tg-quality">
							<span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
							<div class="tg-titlesubtitle">
								<h3>Quality</h3>
								<p>Top quality products</p>
							</div>
						</li>
						<li class="tg-support">
							<span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
							<div class="tg-titlesubtitle">
								<h3>24/7 Support</h3>
								<p>Service at any time</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="tg-threecolumns">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="tg-footercol">
							<strong class="tg-logo"><a href="javascript:void(0);"><img src="../images/flogo.png" alt="image description"></a></strong>
							<ul class="tg-contactinfo">
								<li>
									<i class="icon-apartment"></i>
									<address>Ha Dong, Hanoi, Vietnam</address>
								</li>
								<li>
									<i class="icon-phone-handset"></i>
									<span>
										<em>0812 567 889</em>
										<em>+84 1245 6767</em>
									</span>
								</li>
								<li>
									<i class="icon-clock"></i>
									<span>
										Serving 7 days a week from 9:00 - 22:00
									</span>
								</li>
								<li>
									<i class="icon-envelope"></i>
									<span>
										<em><a href="mailto:support@domain.com">support@booklibrary.com</a></em>
										<em><a href="mailto:info@domain.com">info@booklibrary.com</a></em>
									</span>
								</li>
							</ul>
							<ul class="tg-socialicons">
								<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
								<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
								<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
								<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
								<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="tg-footercol tg-widget tg-widgetnavigation">
							<div class="tg-widgettitle">
								<h3>We guarantee</h3>
							</div>
			
							<div class="tg-widgetcontent">
								
								<ul>
									<li><a href="javascript:void(0);">Always respect customers</a></li>
									<li><a href="javascript:void(0);">Protect necessary information</a></li>
									<li><a href="javascript:void(0);">Authentic books</a></li>
									<li><a href="javascript:void(0);">Follow purchase regulations</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tg-footerbar">
		<a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="tg-paymenttype"><img src="images/paymenticon.png" alt="image description"></span>
					<span class="tg-copyright">2023 All Rights Reserved By &copy; Book Library</span>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="../js/vendor/jquery-library.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<script src="../https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.vide.min.js"></script>
<script src="../js/countdown.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/parallax.js"></script>
<script src="../js/countTo.js"></script>
<script src="../js/appear.js"></script>
<script src="../js/gmap3.js"></script>
<script src="../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var showAddModal    = /*[[${showAddModal}]]*/ false;
        var showEditModal   = /*[[${showEditModal}]]*/ false;
        var editAuthorId    = /*[[${editAuthorId}]]*/ null;
        var successMessage  = /*[[${successMessage}]]*/ null;
        var errorMessage    = /*[[${errorMessage}]]*/ null;

        $(document).ready(function () {
            if (successMessage) {
                Swal.fire({
                    position: 'top',
                    icon: 'success',
                    title: successMessage,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true
                });
            }
            if (errorMessage) {
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: errorMessage,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true
                });
            }

            if (showAddModal)  $('#myModal_add').modal('show');
            if (showEditModal && editAuthorId) $('#myModal_edit' + editAuthorId).modal('show');
        });
        /*]]>*/
    </script>
</body>

</html>
